__pycache__
.env
.env.*
/logs
/bin
/backup/*.xlsx
~$*.xlsx
~$*.docx

data/archive/**/*
!data/archive/.gitkeep
data/input/**/*
!data/input/.gitkeep
data/processing/**/*
!data/processing/.gitkeep
data/queued/**/*
!data/queued/.gitkeep

_tmp
tests/SD/random_contents
docs/**/bla